@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: Oxygen;
    color:#777777;
}
h2{
    font-family: Oxygen;
    letter-spacing: 3px;
    color: black;
}
#logo
{
    float: left;
    font-size: 250%;
}
#menu
{
   font-size: 110%;
   list-style-type: none;
   letter-spacing: 3px;

   #logo, #menu
   {
    line-height: 75px;

   }
}
#menu li{
    float: right;
    margin-right: 50px}

    #menu a{
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover{
        border-bottom: 2px solid #777777;
    }

    .active
    {
        border-bottom: 2px solid #777777;
    }