body {
    background-color: black;
    font-family: Oxygen, sans-serif;
    color: white;

}
/* Containers */
.form-container
{
    height: 100vh;

    background: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=400") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* navigation links */

#menu{
    font-size: 110%;
    font-weight: 500;
    letter-spacing: 4px;
}

#menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


.form {
        clear: left;
       
        background-size: cover;
        background-position: center;
        height: 900px;
    }
    
    .form > h2
    {
        color:#fafafa;
        margin-bottom: 20px;
    }
    
.container-wrapper--red {
    background-color: grey;
    color: white;
}
.form-container

    


.form-group
{
   height:100px;
   width:200px; 
   color:white;
   font-size: large;
}
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}


.callout-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
   
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(244, 7, 7, 0.25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}
.blockquote p 
{
    color:white;
}
.quotes h2{
    color:white;
}
.jumbotron .lead {
    color: #f2f0f0;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #f5f1f1;
}

/* Block dividers */




/* Buttons */


.btn--cta
{font-weight: bold;
border-radius: 23px;
width: 100px;
}

.btn--red {
    color: white;
    background-color: peru;
    border-color: peru;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color:purple;
    border-color: purple;
    color: white;
}
/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}